In [16]:
name = "python"
#for i in range(len(name),0,-1):
#   print(i)
    
for j in range(0,len(name)):
    print(name[j])

p
y
t
h
o
n

In [22]:
# pattern
string = input()
lenth = len(string)
for row in range (lenth):
    for col in range(0,row+1):
        print(string[col],end ='')
    print()    
# short

for r in range(0,len(string)+1):
    print(string[:r])

python
p
py
pyt
pyth
pytho
python

p
py
pyt
pyth
pytho
python

In [23]:
# pattern
string = input()
lenth = len(string)
for row in range (lenth,0,-1):
    for col in range(0,row):
        print(string[col],end ='')
    print()
    
# short
for r in range(len(string),0,-1):
    print(string[:r])

python
python
pytho
pyth
pyt
py
p
python
pytho
pyth
pyt
py
p

In [25]:
string = input()
lenth = len(string)

for r in range(0,lenth):
    for s in range(0,(5-r)):
        print(" ",end = '')
    for c in range(0,r+1):
        print(string[c],end = '')
    print()
# short

for r in range(0,len(string)+1):
    print(" "*(len(string)-r)+string[:r])

python
     p
    py
   pyt
  pyth
 pytho
python

     p
    py
   pyt
  pyth
 pytho
python

In [26]:
string = input()
lenth = len(string)

for r in range(lenth,0,-1):
    for s in range(0,(6-r)):
        print(" ",end = '')
    for c in range(0,r):
        print(string[c],end = '')
    print()

#  short
for r in range(len(string),0,-1):
    print(" "*(len(string)-r)+string[:r])

python
python
 pytho
  pyth
   pyt
    py
     p
python
 pytho
  pyth
   pyt
    py
     p

# second method

In [ ]:
# second m,ethod
string = input()
lenth = len(string)
for r in range(0,lenth+1):
    print(string[:r])

python

p
py
pyt
pyth
pytho
python

In [ ]:
# second
string = input()
lenth = len(string)
for c in range(lenth,0,-1):
    print(string[:c])

python
python
pytho
pyth
pyt
py
p

In [ ]:
#second
string = input()
lenth = len(string)
for r in range(0,lenth+1):
    print((6-r)*" "+string[:r])

python

     p
    py
   pyt
  pyth
 pytho
python

In [ ]:
# second method
string = input()
lenth = len(string)
for r in range(lenth,0,-1):
    print((6-r)*" "+string[:r])

python
python
 pytho
  pyth
   pyt
    py
     p

In [ ]:
row =int(input())
for r in range(1,row+1):
    for c in range(1,r+1):
        print(c,end = '')
    print()

4
1
12
123
1234

In [ ]:
row =int(input())
for r in range(row,0,-1):
    for c in range(1,r+1):
        print(c,end = '')
    print()

4
1234
123
12
1

In [ ]:
row =int(input())
for r in range(1,row+1):
    for s in range(1,row-r+1):
        print(" ",end = '')
    for c in range(1,r+1):
        print(c,end = '')
    print()

4
   1
  12
 123
1234

In [ ]:
row = int(input())
for r in range(row,0,-1):
    for s in range(1,row-r+1):
        print(' ',end = '')
    for c in range(1,r+1):
        print(c,end = '')
    print()

4
1234
 123
  12
   1

In [ ]:
row = int(input())
for r in range(1,row+1):
    for c in range(1,r+1):
        print(r,end = '')
    print()

4
1
22
333
4444

In [ ]:
row = int(input())
for r in range(row,0,-1):
    for c in range(1,r+1):
        print(r,end = '')
    print()

4
4444
333
22
1

In [ ]:
row = int(input())
for r in range(1,row+1):
    for s in range(1,row-r+1):
        print(" ",end='')
    for c in range(1,r+1):
        print(r,end = '')
    print()

4
   1
  22
 333
4444

In [ ]:
row = int(input())
for r in range(row,0,-1):
    for s in range(1,row-r+1):
        print(' ',end = '')
    for c in range(1,r+1):
        print(r,end = '')
    print()

4
4444
 333
  22
   1

In [1]:
for r in range(1,5+1):
    for c in range(1,r+1):
        print("$",end="")
    print()

$
$$
$$$
$$$$
$$$$$

In [2]:
for r in range(1,5+1):
    for c in range(1,6-r+1):
        print("#",end='')
    print()

#####
####
###
##
#

In [3]:
for r in range(1,5+1):
    for c in range(1,6-r+1):
        print("#",end='')
    print()

#####
####
###
##
#

In [4]:
for r in range(1,5+1):
    for s in range(1,r-1+1):
        print(" ",end = "")
    for c in range(1,6-r+1):
        print("$",end="")
    print()

$$$$$
 $$$$
  $$$
   $$
    $

In [6]:
for r in range(1,5+1):
    print(r*"%")

%
%%
%%%
%%%%
%%%%%

In [7]:
for r in range(5,0,-1):
    print(r*"%")

%%%%%
%%%%
%%%
%%
%

In [8]:
for r in range(1,5+1):
    print((5-r)*" "+r*"&")

    &
   &&
  &&&
 &&&&
&&&&&

In [9]:
for r in range(5,0,-1):
    print((5-r)*" "+r*"&")

&&&&&
 &&&&
  &&&
   &&
    &

In [10]:
# using  user input print a pattern 

n =int(input("enter a row:"))
for r in range(1,n+1):
    print(r*"&")

enter a row:4
&
&&
&&&
&&&&

In [11]:
# print pyramid pattewrn
def pyramid(num):
    for r in range(1,num+1):
        print(' '*(num-r)+"* "*(r))
pyramid(4)

   *
  * *
 * * *
* * * *

In [12]:
def pyramid(row):
    for r in range(0,row):
        print(" "*(row-r-1)+'* '*(r+1))
pyramid(4)

   *
  * *
 * * *
* * * *

In [13]:
def diamond(row):
    for i in range(0,row):
        print(" "*(row-i-1)+"* "*(i+1))
    for j in range(row-1,0,-1):
        print(" "*(row-j)+"* "*(j))
        
diamond(4)  

diamond(7)

   *
  * *
 * * *
* * * *
 * * *
  * *
   *
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [14]:
#   *
#   **
#   ***
#   ****
#   *****

for r in range(1,5+1):
    for c in range(1,r+1):
        print("*",end = "")
    print()    

# easy way

for r in range(1,5+1):
    print("*"*r)

*
**
***
****
*****
*
**
***
****
*****

In [15]:
# *****
# ****
# ***
# **
# *


for r in range(5,0,-1):
    for c in range(1,r+1):
        print("*",end = "")
    print()   
    
    
#short

for r in range(5,0,-1):
    print("8"*r)

*****
****
***
**
*
88888
8888
888
88
8