# Function in python
### it is bolck of code which perfrom specific task.

In [ ]:
#function are used to utilize code in more than one place

#function as a argument
def fun(arg1,arg2):
    print(arg1*arg2)
fun(5,4)

20

In [1]:
 # find the no is even or not using fun argument
def even(num):
    if num%2 == 0:
        print(num,"is even")
    else:
        print(num,"is odd")
        
var =int(input("enter a no"))
even(var)

enter a no5
5 is odd

In [2]:
# max no print using returning from fun
def max(x,y):
    if x>y:
        return x
    else:
        return y
print(max(4,7))
z = max(4,8)
print(z)

7
8

In [3]:
# RETURNING FROM THE FUNCTION
def add_no(x,y):
    total = x+y
    return total
    print("cool") #when we return anything down there cool wont print
print(add_no(4,5))
add_no(6,8)

9

14

In [4]:
# prime num using function
def prime(num):
    for var in range(2,num-1):
        flag = True
        if num%var == 0:
            print("num is not prime:  ",num)
            flag = False
            break
    if flag:
        print("num is prime",num)
var1 = int(input("enter a num"))            
prime(var1)

enter a num10
num is not prime:   10

In [5]:
def even(num):
    if num%2 == 0:
        print(num,"is even")
    else:
        print(num,"is not even")
even(5)

5 is not even

In [6]:
prime(37)

num is prime 37

In [18]:
# here name is positional argument, and (age = 23) keyward argument
def sample(name, age = 23):
    print('My name is {} and age is {}'.format(name, age))
sample('dhananjay gajera')

My name is dhananjay gajera and age is 23

In [19]:
sample(5)

My name is 5 and age is 23

In [22]:
# another way to understand argument and keyward argument
def sample(*args, **kwrgs):
    print(args)
    print(kwrgs)

In [21]:
sample('dhananjay', 'gajera', age = 23, dob = 1999)

('dhananjay', 'gajera')
{'age': 23, 'dob': 1999}

In [23]:
lst = ['Dhananjay', 'gajera']
dict_args = {'age':23, 'dob': 1999}

In [24]:
sample(*lst, **dict_args)

('Dhananjay', 'gajera')
{'age': 23, 'dob': 1999}