In [1]:
#var ,x =3
# means x holds value of 3 in memory here x is var

var = 37.76
var1,var2,var3 = 100,65.83,"string"
print(var1)
print(var2)
print(var3)

100
65.83
string

# list = is a collection of hitrogenous data type,it is denoted by []

In [2]:
list = ["one",2,3.4,5,6,6+2j]
print(list[0])
print(list[1:])

print(list*3)

one
[2, 3.4, 5, 6, (6+2j)]
['one', 2, 3.4, 5, 6, (6+2j), 'one', 2, 3.4, 5, 6, (6+2j), 'one', 2, 3.4, 5, 6, (6+2j)]

In [3]:
# adding two list
l1 = [1,2,3,4]
l2 = [5,6,7,8,9]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# update value in list
l =[1,2,3,4]
l[0] = 0
print(l)

[0, 2, 3, 4]

In [5]:
# len()
l = [1,2,3,4,5,6]
print(len(l))

6

In [6]:
# max()
# min()
#sum()

l = [1,2,3,4]
print(max(l))
print(min(l))
print(sum(l))

4
1
10

In [7]:
#count()  = count the value
list = [1,2,3,4,5,6,3,7,8]
print(list.count(3),"times")

2 times

In [8]:
# aapend() == append the value in given list
#   insert value at the end

l = [1,2,3,4]
l.append(5)
print(l)

[1, 2, 3, 4, 5]

In [9]:
# insert(index,value) ====> insert a value at particular index position

list = [4,5,6,7]
list.insert(2,888)
print(list)

[4, 5, 888, 6, 7]

In [10]:
# remove(value) ====> remove the value from the list
l = [1,2,3,4]
l.remove(3)
print(l)

[1, 2, 4]

In [11]:
# reverse()  ======> it reverse the list element

list = [1,2,3,4]
list.reverse()
print(list)

[4, 3, 2, 1]

In [12]:
# sort()====> applied sorting the value in assending order

s = [10,2,4,1]
s.sort()
print(s)

[1, 2, 4, 10]

In [13]:
l = ["biology","math","physics","chemistry"]
l.sort()   # sorting on char
print(l)

['biology', 'chemistry', 'math', 'physics']

In [14]:
# extend() ===> append the content of sequence in list
l = [1,2,3,4]
l2 = [5,6,7,8]
l.extend(l2)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
l = [1,2]

In [16]:
# index(value) === > find the index value in list

l = [1,2,3,4,5,6,7,8,9]
print(l.index(5))

print(l.index(5,0,len(l)))

4
4

In [17]:
# pop() === remove last element from the list

l = ["p","c","m","b"]
l.pop()
print(l)


### remove particular  pop(index)
l = [1,2,3,4,5,6,7,]
l.pop(5)
print(l)

['p', 'c', 'm']
[1, 2, 3, 4, 5, 7]

In [18]:
# list slices
# extended slice ====>[start,stop,step]

square = [0,1,4,9,16,25,36,49,64,81]
print(square[::2])
print(square[2:8:3])


s = [0,1,4,9,16,23,36,49,64,81]
print(s[1:-1])  # it ignore last element using -1


square = [0,1,4,9,16,25,36,49,64,81]
print(square[7:5:-1])
print(square[7:5])

[0, 4, 16, 36, 64]
[4, 25]
[1, 4, 9, 16, 23, 36, 49, 64]
[49, 36]
[]

In [19]:
square = [0,1,4,9,16,25,36,49,64,81]
print(square[7:5:-1])
print(square[7:5:-1])

[49, 36]
[49, 36]

In [20]:
# list comprehension

cube = [i**3 for i in range(5)]
print(cube)

square = [i**2 for i in range(5)] 
print(square)

mul_of_7 = [i for i in range(1,101) if i%7 == 0]
print(mul_of_7)

[0, 1, 8, 27, 64]
[0, 1, 4, 9, 16]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [21]:
# list comprehesion

even = [i for i in range(1,100) if i%2 == 0]
#print(even)

# create a list multiple of 3

mul = [i for i in range(1,100) if i%3 == 0]
print(mul)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [22]:
# all  === if all is true
# any  === ifv any one is true
# enumerate(values,num) ====> enumerate(nums,-1)  


num = [55,44,33,22,11]
if all([x%11==0 for x in num]):
    print("yes")
    
#############################################
if any([x%2 == 0 for x in num]):
    print(num)

#############################################   
for i in enumerate(num):
    print(i)

######################
for i in enumerate(num,-1):  # 5
    print(i)

yes
[55, 44, 33, 22, 11]
(0, 55)
(1, 44)
(2, 33)
(3, 22)
(4, 11)
(-1, 55)
(0, 44)
(1, 33)
(2, 22)
(3, 11)