# sets ====> it uncordered collection of distinct values

In [1]:
animal = {"cat","dog"}
print("cat" in animal)
print("cat" not in animal)
print("fish" in animal)

print(len(animal))

True
False
False
2

In [2]:
# add a value
#set.add(value)

animal ={"cat","dog"}
animal.add("fish")
print(animal)

{'cat', 'dog', 'fish'}

In [3]:
# set comprihensive ===> like dict and list

from math import sqrt
num = {int(sqrt(x)) for x in range(30)}
print(num)

{0, 1, 2, 3, 4, 5}

In [4]:
even = {x for x in range(1,30) if x%2 == 0}
print(num)

{0, 1, 2, 3, 4, 5}

In [5]:
# even no b/w 1 to 120

num = int(input())
even = {x for x in range(1,num) if x%2 != 0}
print(even)

5
{1, 3}

In [6]:
letter = {'a','b','c','d'}
if "e" not in letter:
    print("1")
else:
    print("2")

1

In [7]:
# set cannot print repeat value
# sets ignore repeat values

s = {1,2,3,4,5,4,6,4}
print(s)

s = {"hello","world","hello"}
print(s)

{1, 2, 3, 4, 5, 6}
{'world', 'hello'}

In [8]:
# set combine with math operatio
#  !   ====>   unoin operator          (combine two set)
#  &   ====>   intersection operator    (get item  which only in both)
#  -   ====>   difference operator      (get item first but not second)
#  ^   ====>   symmatric difference  ,,,,(get item in either set but not in both)

f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f|s)  # {1, 2, 3, 4, 5, 6, 7, 8, 9}

print(f&s)  # {4, 5, 6}

print(f-s)  # {1, 2, 3}

print(s-f)  # {8, 9, 7}

print(f^s)  # {1, 2, 3, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}