In [ ]:
print('hello world')

heelo world

In [5]:
def sample(name, age, dob):
    print(' MY name is {} and age is {} and dob is {}'.format(name, age,dob))
    
sample('dhananjay', 22, 1999)

 MY name is dhananjay and age is 22 and dob is 1999

In [6]:
def sample(name):
    print('my name is {}'.format(name))
sample('dhananjay')

my name is dhananjay

In [7]:
name  ='dhananjay'
 #Quesion = print onmu using string formatting

print('{0}{1}{2}{3}'.format(name[1], name[2], name[0], name[3]))

hadn

In [8]:
print('{x}  {y}'.format(x = 5,y= 12))

5  12