In [1]:
# capitalize() =====> str.capitalize() =====> it convert first letter of string in uppercase

s = "i am the best"
s.capitalize()

'I am the best'

In [2]:
# count() it count the values,  count("value",begnining,end(index))



str = """dhananjay is excellent
      dhananjay can be the better
      dhananjay you can do anything
      dhananjay you have to believe in yourself"""
print(str.count("can"))

2

In [3]:
#endswith()  ====> check the ending part of the string & return True and false
#str1.endswith("value")


s = "my name is dhananjay"
print(s.endswith("dhananjay"))
print(s.endswith("sonu"))

True
False

In [4]:
# startswith("str") ======>  check starting bpart of string ,and return true and false

s = "my name is dhananjay"
print(s.startswith("my"))

True

In [5]:
s = "my name is dhananjay"
print(s.startswith("is",8,len(s)))

True

In [6]:
# find =====> it find the argument present in a given string or not ,and return index number
# it return -1 if value not in given string
# find(value,beg,end) ====> 


s = "my name is dhananjay,i am cool"
print(s.find("i"))

print(s.find("nom"))


# find(value,beg(index),end(index))

8
-1

In [7]:
# find("value",beg(index),end(index))

s = " my name is dhananjay how are you, what you do for work"
print(s.find("how",3,len(s)))

22

In [8]:
# is lower()  ===> check all letter in lower case or not & retrurn T,F

str = "Helloo World"
print(str.islower())


str = "hello "
print(str.islower())

False
True

In [9]:
# isupper()  =====> check all letter in uppperc ase or not and return true and flase



str = "hello World"
print(str.isupper())

s = "HELLO"
print(s.isupper())

False
True

In [10]:
# lower() ====> convert all letter in lower case

str = "Hello"
print(str.lower())

hello

In [11]:
# upper()  ====> convert all letter in uppercase
str = "hello"
print(str.upper())

HELLO

In [12]:
#lstrip() ===> it remove char from left side

str1 = "!!! whats up"
print(str1.lstrip("!"))


s = "whats7777 up"
print(s.lstrip("7"))  # value must be at the begining for working

 whats up
whats7777 up

In [13]:
# rstrip()=====> it  remove char from the right side

str1 = "77777this 7777is cool*****"
print(str1.rstrip("*"))  # value must be at the end(rightside) 

print(str1.rstrip("7"))

77777this 7777is cool
77777this 7777is cool*****

In [14]:
# strip()  ====> it remove char from the rightside and left side(start and end)

str1 = "####dhananjay is$$$cool guy&&&&&"
print(str1.strip("#$&"))

dhananjay is$$$cool guy

In [15]:

str1 = "####dhananjay is$$$cool guy&&&&&"
print(str1.strip("$"))

####dhananjay is$$$cool guy&&&&&

In [16]:
# replace("value") ====> it replace value from the string

str = "I once had a fox"
print(str.replace("fox","lion"))

I once had a lion

In [18]:
#split()  ===> split thye word and char in the string

str = "Tom Cruce"
print(str.split())

# note it split base on whitespace

str = "dhananjay"
print(str.split())  # here there is no space so it can be split


str  = "dhananjay gajera"
print(str.split(","))  # here comma is seperator

['Tom', 'Cruce']
['dhananjay']
['dhananjay gajera']

In [19]:
# swapcase()  =====> it swap lowercase letter in uppercase and uppercase letter into lowercase

str = "I love PYTHON"
print(str.swapcase())

i LOVE python

In [20]:
#title() ==== it convert every word first letter in uppercase

s = " i love Python"
print(s.title())

 I Love Python

In [21]:
# string Formatting

num = [4,5,6]
msg = "NUMBER:{0}{2}{2}".format(num[0],num[1],num[2])
print(msg)

NUMBER:466

In [22]:
# string formating
a = "{x},{y}".format(x=5,y= 10)
print(a)


str= "{c}${b}${a}".format(a=5,b=55,c=7)
print(str)

5,10
7$55$5

In [23]:
# join ===
list = ["1",'2','3','4']  # item in the list must string type
print("-".join(list))



s = input()   # 456789
print(" ".join(s))


s = input().split(",")  # i/p === 1,2,3,4,5,6
print("@".join(s))

1-2-3-4
5
5
6
6

In [24]:
# #    text.zfll("num") =====> fil with zero 

str = "hello"
print(str.zfill(10))

print(str.zfill(30))


#  how it works with single prefix ,zfill(-)


s = "-290"
print(s.zfill(8))

s = "--randomlist"
print(s.zfill(20))

00000hello
0000000000000000000000000hello
-0000290
-00000000-randomlist

In [25]:
# center(width,'fillchar')===> in which string in the centre and we can fill char

s = "hello"
print(s.center(11,"X"))

XXXhelloXXX

In [26]:
# index("value") ====> find the index value in given string 
s = "my name is dhananjay how are u"
print(s.index("how"))


print(s.index("how",5,len(s)))

21
21

In [27]:
#  istitle() check all words start with uppercase letter 

s= "my love"

s1 = "My Love"
print(s.istitle())
print(s1.istitle())

False
True

In [28]:
# rfind(str,beg,end)   =====> give the last occurence of index position in a given string

s = "dhananjay is good boy, dhananjay is dasingf boy,dhananjay is smart"
print(s.rfind("dhananjay"))
print(s.rfind("dhananjay",10,len(s)))

###########
print(s.rindex("dhananjay"))
print(s.rindex("dhananjay",10,len(s)))    



######
# note :>    rfind & rindex === take index posion from right side(means last occurence of index postion of the given value in string)
#      ;>     find & index  === take index posion from left side(means first occurence of index poistion of the given value in string)

48
48
48
48

In [29]:
# max(str) ====> max value of char in given string
# min(str)  ===> min value of char in given string
s = "coolboys"
print(max(s))

print(min(s))


# space is least precedence when we applied min()

str = "hello boys"
print(min(str))  #

y
b